@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <a href="/admin/addcategory" class="col-md-2 col-md-offset-3 btn btn-primary">Add Category</a>
    <a href="/admin/addproduct" class="col-md-2 col-md-offset-2 btn btn-primary">Add Product</a>
</div>
        